.login-form-container{
    align-items: center;
    justify-content: center;
    width: 600px;
}

.form{
    align-items: center;
    justify-content: center;
    width: 600px;
    border-radius: 10px;
}

.mat-input{
    width: 100%;
}

.btn-show{
    width: 10%;
}